.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  color: #353430;
  font-size: var(--main-font-size);
  --section-text-color: var(--main-text-color);
  --button-color: var(--text-color);
  --background-color: #fff1f7;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --subtitle-color: #353430;
  --title-shadow-color: #FF8DCB;
  --outline-color: #35343040;
  --main-text-color: #353430;
  --decorated-color: #353430;
}

.page.theme_light .rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: var(--main-font-family);
  color: #353430;
  font-size: var(--main-font-size);
  --text-color: #353430;
  --title-shadow-color: #ff0070;
  --main-text-color: #353430;
  --decorated-color: #353430;
  --title-color: #FFC2E6;
  --accent-color: #FF8DCB;
  --section-text-color: var(--main-text-color);
  --button-color: var(--text-color);
  --outline-color: #35343040;
  --background-color: #fff1f7;
  }

  .page.theme_light .rec {
    display: none;
  }
}

